body {
    background-color:blue;
    color: gold;
}
#galleryHeading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
}
img {
    width: auto;
    height: 30%;
}
.btnBack {
    font-size: 25px;
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    color: gold;
    size: 50px;
    border-width: 5px;
    border-color: blue;
    border-style: solid;
    bottom: 10;
    left: 10;
    position: fixed;
}
.btnBack:hover {
    background-color: gold;
    color: blue;
    border-color: gold;
    border-width: 5px;
    border-style: solid;
    cursor: pointer;
    font-size: xx-large;
    bottom: 10;
    left: 10;
    position: fixed;
}